global
  log 127.0.0.1 local0 notice
  maxconn 2000
  user haproxy
  group haproxy

defaults
  log global
  mode http
  option httplog
  option dontlognull
  retries 3
  option redispatch
  timeout connect 300000
  timeout client 300000
  timeout server 300000

frontend proxy
  bind *:80

  #ACL function declarations
  #acl is_abuse src_http_req_rate(Abuse) ge 10
  #acl inc_abuse_cnt src_inc_gpc0(Abuse) gt 0
  #acl abuse_cnt src_get_gpc0(Abuse) gt 0

  # Rules
  #tcp-request connection track-sc0 src table Abuse
  #tcp-request connection reject if abuse_cnt
  #http-request deny if abuse_cnt
  #http-request deny if is_abuse inc_abuse_cnt

  option httpclose
  option forwardfor

  use_backend moodle

backend moodle
  server {{ backend_server_name }} {{ backend_server_ip }}:80 check

#backend Abuse
  #stick-table type ip size 100k expire 30m store gpc0,http_req_rate(10s)

listen stats
  bind *:8080
  mode http
  stats enable
  stats hide-version
  stats uri /haproxy?stats
  stats realm HAProxy\ Statistics
  